@import url(https://font.elice.io/EliceDigitalBaeum.css);

html, body {
    font-family: "Elice Digital Baeum",sans-serif;
  }

  *{
    margin:0; 
    padding:0;
    text-decoration: none;
    color:#000;
}

main{
    margin-left:30px;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

nav{
    /* width:473px; */
    background:pink;
    margin-bottom:30px;   
}

nav ul{
    display:flex;
}

nav ul li{
    list-style: none;
}

h1{
    font-size:40px;
    margin-bottom:30px;
}

h2{
    font-size:30px;
    margin-bottom:30px;
}

section{
    margin:30px 0;
}

h3{
    margin-bottom:10px;
    font-size:22px;
    font-weight: bold;
}

ul li, ol li{
    margin-left:20px;
}

footer{
    /* width:473px; */
    background-color: #e4e4e4;
}

footer p{
    padding:50px 0 30px 30px;
}

